.dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    align-items: center;
}

.usernameGreet {
    color: #ea4c89;
}

.logoutBtn {
    background-color: #ea4c89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
}

.logoutBtn:hover,
.logoutBtn:focus {
    background-color: #f082ac;
}

.finished {
    text-decoration: line-through;
}
