.register-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ea4c89;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;

    .register-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        input {
            border-radius: 10px;
            border: none;
            background-color: white;
            height: 20px;
        }

        button {
            margin-bottom: 10%;
            background-color: #720730;
            border-radius: 8px;
            border-style: none;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            height: 40px;
            line-height: 20px;
            list-style: none;
            margin: 0;
            outline: none;
            padding: 10px 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: color 100ms;
            vertical-align: baseline;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        button:hover,
        button:focus {
            background-color: #99043d;
        }
    }
}

.have-registration {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;

    a {
        margin-left: 5px;
    }
}
